<html>

<head>
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <main class="main-content">
        content here
    </main>
    {{>footer}}
</body>


</html>