body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: blue;
  margin-right: 16px;
  text-decoration: none;
  display: inline;
}

.weather {
  display: flex;
  align-items: flex-start;
  margin-top: 24px;
}

.weather > .box > p,
.weather > .box > span {
  margin: 0;
  margin-left: 8px;
  margin-bottom: 4px;
}

.weather > .box > p:first-of-type {
  font-weight: bold;
  font-size: 24px;
}

.temperature {
  font-size: 24px;
  margin-bottom: 4px;
}

img {
  width: 80px;
}
